body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: rgb(20, 86, 199);
}

h1 {
    color: #9e71f7;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #666;
}

img {
  image-resolution: 100px;
  margin-left: auto;

}

button {
    color: #9e71f7;
    text-align: center;
}


